body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#root {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 8%
}

.cocktail {
    width: 25%;
    margin-top: 10px;
    border: solid #acacac;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
}

h1 {
    font-size: 20px;
}

img {
    width: 90%;
    height: auto;
}

button {
    height: 50px;
    width: 20%;
    margin-right: 40%;
    margin-left: 40%;
    background: rgb(255, 255, 255);
    background: linear-gradient(53deg, rgb(40, 22, 104) 10%, rgb(8, 221, 193) 100%);
    border: none;
    border-radius: 25px;
    font-weight: bold;
    color: white;
}

button:active {
    transform: scale(0.9);
}